﻿@{
    ViewData["Title"] = "Home Page";
}
<div class="help-container">
    <div class="text-center mb-5">
        <h1 class="display-4">Ayuda</h1>
    </div>
    <div class="row">
        <div class="col-md-6 mb-4 d-flex">
            <div class="card flex-fill">
                <div class="card-header text-center">
                    <h2 class="h4">Soporte</h2>
                </div>
                <div class="card-body">
                    <p>Si tienes algún problema con alguno de nuestros vendedores</p>
                    <p>Llama aquí: <strong>8181881818</strong></p>
                    <p>Si deseas reportar algún problema en la página</p>
                    <p>Contacta aquí: <a href="mailto:ejemplo@ajsdbhas" style="color: white;">ejemplo@ajsdbhas</a></p>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-4 d-flex">
            <div class="card flex-fill">
                <div class="card-header text-center">
                    <h2 class="h4">Garantía</h2>
                </div>
                <div class="card-body">
                    <p>Para más información sobre garantías, visita el siguiente enlace:</p>
                    <p><a href="https://www.qualitas.com.mx/web/qmx/derechos-del-asegurado" target="_blank" style="color: white;">Derechos del Asegurado</a></p>
                </div>
            </div>
        </div>
    </div>
</div>