@model IEnumerable<Intenteo6.Models.dbModels.Carro>

@{
    ViewData["Title"] = "Home Page";
}

<h1 class="text-center">Bienvenido a Drive Dreams</h1>

<div class="row mb-4">
    <div class="col-12 text-center">
        <input type="text" class="form-control" placeholder="Busca por ejemplo Versa 2023" aria-label="Search">
    </div>
</div>
<div class="row mb-4">
    <div class="col-12 col-md-6 col-lg-3">
        <h5>Rango de precio</h5>
        <ul class="list-group">
            <li class="list-group-item">150K</li>
            <li class="list-group-item">150K-300K</li>
            <li class="list-group-item">300K-900K</li>
            <li class="list-group-item">900K+</li>
        </ul>
    </div>
    <div class="col-12 col-md-6 col-lg-3">
        <h5>Carrocería</h5>
        <ul class="list-group">
            <li class="list-group-item">Sedan</li>
            <li class="list-group-item">Hatchback</li>
            <li class="list-group-item">SUV</li>
            <li class="list-group-item">Deportivo</li>
        </ul>
    </div>
</div>

<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card">
                    <img src="" class="card-img-top" alt="@item.Name">
                    <div class="card-body">
                        <h5 class="card-title">@item.Name</h5>
                        <p class="card-text">@item.Año | 0 km | Hermosillo</p>
                        <p class="card-text">@item.Precio</p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
