@{
    ViewData["Title"] = "Privacy Policy";

}
<h1>@ViewData["Title"]</h1>
<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    <div class="col">
        <div class="card">
            <img src="https://cdn-3.expansion.mx/dims4/default/29468e8/2147483647/strip/true/crop/1200x800+0+0/resize/1800x1200!/format/webp/quality/80/?url=https%3A%2F%2Fcdn-3.expansion.mx%2F2c%2F17%2Fd08cee8b4094b00354af15ba7d9e%2Fcoche-electrico-auto-taxi-mexico-cdmx-istock-506611622.jpeg" class="card-img-top" alt="Kia Sport">
            <div class="card-body">
                <h5 class="card-title">Impacto de los carro electricos en 2024</h5>
                <p class="card-text">los carros electricos han beneficiados en el medio ambiente</p>
                <p class="card-text">mas gente da su opinion de los carros electricos</p>
            </div>
        </div>
    </div>
</div>